$color-sc-red:red;
$color-Html-bg:#dbbd95;
$a-color:powderblue;
$title-button-topcolor:#ffe36e;
$title-button-topcolor:#eab13b;
$title-button-topcolor:#d58a30;
$btn-font-color:#63260f;
$message-bg:#412209;
$message-bg-after:#b67d33;
$system-message-content-text-color:#ffffff;
$sign-up-btn-color-1024:#481203;
$bottom-box-title-color:rgba(255, 245, 103, 1);
$checkbox-text-color:#412209;
$message-bg-boder:#c1801d;
$mobile-main-bg-color:#0000002b;
$honor-players-text-color:#684000;
$x-sign-color-top:#502e00;
$x-sign-color-bot:#f1eda0;
$x-sign-color-bot-hover:#ffffff;
$event-btn-color:#694016;
