/*first-variable*/
@import "color.scss";
@import "mixin.scss";
@import "animation.scss";

$all-font-family: Microsoft JhengHei;
$all-font-family2:'微軟正黑體';

.clearfix {
    display: block;
    
    content: "";
    clear: both;
  }

.flex-mode-center{
  display: flex;
  justify-content: center;
}
.flex-direction-column{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
%flex-direction-column{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.flex-direction-row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
%flex-direction-row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
.flex-mode-align-content{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-content: center;
}
.box{
  display: flex;
}
 %box{
  display: flex;
}

%container-set{
    max-width: 1281px;
    width: 100%;
    height: 6553px;
}
%before{
  content:"";
  position: absolute;
}
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a{
    text-decoration:none;
    cursor: pointer;
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:$all-font-family , $all-font-family2;
  }
  
  html {
    width: 100%;
    background-color: $color-Html-bg;
    height: 100%;
    overflow: auto;
    // overflow: hidden;
  }
  
  body {
    line-height: 1;
  }
  
  p, button, input ,a, div{
    font-family:$all-font-family , $all-font-family2;
  }
  a{
    color: $a-color;
  }
  ul, li, body {
    margin: 0;
    padding: 0;
    font-family: $all-font-family , $all-font-family2;
  }
  
  ul, li {
    list-style-type: none;
  }

  button{
    cursor: pointer;
  }
  button, input{
    outline: none;
  }

  .col-4{
    width: 33.33%;
  }
  .col-8{
    width: 66.66%;
  }
  .col-4,.col-8{
    margin:20px 0;
  }
  
  %basic-font {
    font-weight: bolder;
  }
h1{
  font-size: 40px;
}
  main{
    width: 100%;
    height: 6553px;
    min-height: 6553px;
    @extend %flex-direction-column ;
    align-items: center;
  }
  //z
  nav{z-index: 1;}
  .main .bugger-s{z-index: 1;}
  .main .bugger{z-index: 2;}
  .menu.stage-act .box .content{z-index: 2;}
  .menu .box .left-arrow,.menu .box .right-arrow{z-index: 3;}
  .about .box .content{z-index: 2;}
  .about .left-arrow ,.about .right-arrow{z-index: 3;}
  .header{z-index: 5;}
  .logo2{z-index: 7;}
  .logo{z-index: 7;}
  .header li{z-index: 7;}
  .dark-bg{z-index: 10;}
  .hamburger.ham-active{z-index: 20;}
//menu-act
.header-scroll.header-scroll{top: 0;}
.w100h100.w100h100.w100h100{width: 100%; height: 100px;}
.opac-0.opac-0.opac-0.opac-0{opacity: 0; pointer-events: none;}
.opac-1.opac-1.opac-1.opac-1{opacity: 1;}
.box-after.box-after.box-after{height: 70%; top: 0;}
.logo2-after.logo2-after.logo2-after.logo2-after{top: -20px; pointer-events: all;cursor: pointer;}
  .header{ 
    max-width: 1281px; width: 100%; height: 100px; position: fixed; top: 60px; left: 50%; transform:translate(-50%,0%); @extend %flex-direction-row; justify-content: center; transition: all 0.3s linear;
    .box{ @extend %flex-direction-row; width: 83%; justify-content: center; align-items: center; height: 58px; position: relative; overflow: visible; 
        background: url(../images/title.png)no-repeat; background-size: cover; transition: all 0.3s linear;
      .title-bg, .title-bg2{transition: all 0.2s ease-in-out; position: relative; }
      & .title-bg{ overflow: visible;
        width: 0; height: 0; border-style: solid; border-width: 0 26px 26px 0; border-color: transparent #987e62 transparent transparent; position: absolute; left: 0;bottom: -25.6px;}
      & .title-bg:after{content:""; width: 107px; height: 72px; position: absolute; left: -81px; top:-35px; background: url(../images/title-bg.png)no-repeat; z-index: -1;}
      & .title-bg2{
          width: 0; height: 0; border-style: solid; border-width: 26px 26px 0 0; border-color: #987e62 transparent transparent transparent; position: absolute; right:0; bottom: -25.6px;}
      & .title-bg2:after{content:""; width: 107px; height: 72px; position: absolute; right:-107px; top:-60px; background: url(../images/title-bg.png)no-repeat; z-index: -1; transform: rotateY(180deg);}
      
      .logo2{background: url(../images/logos.png) -142px 0; width: 142px; height: 141px;  position: absolute; opacity: 0;
        left: 50%; transform: translateX(-50%); top: 0px;  pointer-events: none; transition: all 0.3s ease-in-out;}//logo2
    }//.box
    // .box:after{content:""; width: 100%; height: 50%;  position: absolute; top: 35px; left: 0; }
    ul{@extend %flex-direction-row; width: 90%; height: 100%; justify-content: space-between; align-items: center; 
      transition: all 0.1s linear;}//ul
    .logo{background: url(../images/logos.png) 0 0; width: 142px; height: 141px;
         position: absolute; transform: translateX(-50%); left: 50%; top: -35px; pointer-events: none;}//logo
    
    // .icon{@include basic-bg(../images/icon.png);}
    li{@extend %basic-font; font-size: $title-font-size; cursor: pointer; overflow: visible; position: relative; transform-origin:center;}
    
    li:active{transform: scale(0.9);}
    li:nth-child(1):hover,
    li:nth-child(2):hover,
    li:nth-child(5):hover,
    li:nth-child(6):hover
    {transition: all 0.2s ease-in-out;}

    li:nth-child(1):after,
    li:nth-child(2):after,
    li:nth-child(5):after,
    li:nth-child(6):after
    {content: ''; position: absolute; bottom: -10px; left: 0; width: 100%; height: 5px; transform:scale(0.0); background-color: rgba(0,0,0,0.7);  
      transition: all 0.2s ease-in-out;
      transform-origin:center;}//after

    li:hover:nth-child(1):after,
    li:hover:nth-child(2):after,
    li:hover:nth-child(5):after,
    li:hover:nth-child(6):after
    {transform:scale(1);}


  }//header

  .hamburger{position: absolute; cursor: pointer; left: 50px; top: 30px; opacity: 0; pointer-events: none; transition: opacity 0.2s ease-in-out;
  width: 52px; height: 45px; 
  span{width: 100%; height:7px; background-color: #007196;position: absolute; border-radius: 100px; transition: all 0.2s ease-in-out;}
  span:nth-child(1){top: 0;}
  span:nth-child(2){top: 18px;}
  span:nth-child(3){top: 36px;}
  }//hamburger
  .hamburger.ham-active{opacity: 1; pointer-events: all; left: 50px; top: 30px;}

  .hamburger.span-act span:nth-child(1){transform: rotate(45deg);top: 20px;}
  .hamburger.span-act span:nth-child(2){opacity: 0;}
  .hamburger.span-act span:nth-child(3){transform: rotate(-45deg);top: 20px;}

  //dark-bg
  .dark-bg{
    position: fixed; max-width: 1281px; width: 100%; height: 100%; pointer-events: none; top: 100px; background-color: rgba(0,0,0,0.7);opacity: 0;
    transition: all 0.2s ease-in-out;
    ul{@extend %flex-direction-column; width: 100%; height: 90%;
       align-items: center;
      li{color: white; position: absolute; opacity: 0;  cursor: pointer; font-size: 30px; 
        left: 50%; transform: translateX(-50%); overflow: visible;
        transition-property: opacity, transform;
        transition-duration: 0.7s, 0.2s ,0.2s;//欲處理器處理後是三個值SO 給三個值
        transition-timing-function: ease-in-out;}//li

      li:active{transform: translateX(-50%) scale(0.95);}
      li:nth-child(1){top: 20%;}
      li:nth-child(2){top: 30%;}
      li:nth-child(3){top: 40%;}
      li:nth-child(4){top: 50%;}

      li:nth-child(1):after,
      li:nth-child(2):after,
      li:nth-child(3):after,
      li:nth-child(4):after
      {content:""; width: 100%; height: 5px; opacity: 0; background-color: white; position: absolute; left: 0; bottom: -10px; 
        transform-origin:center; transform: scale(0);
        transition: all 0.2s ease-in-out;}//after
      li:hover:nth-child(1):after,
      li:hover:nth-child(2):after,
      li:hover:nth-child(3):after,
      li:hover:nth-child(4):after
      {opacity: 1; transform: scale(1);}
    }//ul
  }//dark-bg
  .dark-bg.dark-act{opacity: 1; pointer-events: all;
  ul{li{opacity: 1;}}}//act


  .container {
  @extend %container-set;  position: relative;  -webkit-box-sizing: border-box; box-sizing: border-box;@extend %flex-direction-column; flex-wrap: wrap;
    margin-top: 161px; justify-content: flex-start;
   } //container

   .L-start{background-color: #007196; transform: scale(1.2);}

   nav{position: fixed; max-width: 1281px; top: 400px; left: 50%; transform: translateX(-50%); width: 100%; height: 160px; pointer-events: none;z-index: 3;
       
      .left-point,.right-link{position: absolute; @extend %flex-direction-column; pointer-events: all;}
      .left-point{justify-content: space-around; align-items: center; width: 16px; height: 100%; left: 20px; 
        .L1,.L2,.L3,.L4,.L5{background-color: none; width: 12px; height: 12px; border-radius: 100px;  border: 1px solid white; cursor: pointer;
         box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5); transition: all 0.2s ease-in-out;}//L1~L5
         .L1:active,.L2:active,.L3:active,.L4:active,.L5:active{transform: scale(0.9);}
      }//left
      .right-link{justify-content: space-between; align-items: center; width: 100px; height: 100%; right: 0px; transition: all 0.2s linear;
       .fb,.ig{width: 100%; height: 70px; background-color: #fff; background: url(../images/right-link.png); cursor: pointer;}
       .ig{background-position: 0 -70px;}
      }//right
    }//nav


  %stage1-bugger{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  %stage1-text{
    position: absolute;
  }
  .main,.menu,.about,.address,.blog{overflow: hidden; width: 100%;}
  .menu,.about,.address,.blog{ margin-top: 30px;}
   //stage1
  .main{pointer-events: none;
    width: 100%; height: 834px; display: flex; position: relative;
    .bugger{max-width: 636px; width: 100%; height: 542px; background: url(../images/main/mains.png) 0 -1082px;  @extend %stage1-bugger; transform: translateX(0%); bottom: 17%; top: -85%; left: 25%;
      animation: stage1-bu 2s 1 cubic-bezier(0.85, 1.09, 1, 1) forwards;
    }//bugger
    .bugger-s{width: 633px; height: 177px; background: url(../images/main/mains.png) 0 -148px;  @extend %stage1-bugger; bottom: 13%;  left: 25%;
      animation: stage1-sh 1.6s 1 cubic-bezier(0.85, 1.09, 1, 1) forwards;  
    }//bugger-s
    .text1, .text2, .text3, .text4, .text5
    {@extend %stage1-text; opacity: 0; transition: all 0.3s linear;}
    .text1{width: 298px; height: 156px; background: url(../images/main/texts.png) 0 -275px; top: -18%; left: -39%; 
      animation: text1 1s 2s 1 ease-in-out forwards;}//text1

    .text2{width: 90px; height: 21px; background: url(../images/main/texts.png) -0px -0px; top: 17%; left: -28%; overflow: visible;
      animation: text1 1s 2.4s 1 ease-in-out forwards;}//text2
    .text2:after{@extend %before; width: 114px; height: 43px; top: 32px; left: 72px; 
      transform: translate(-20px, -8px); background: url(../images/main/arrows.png) -3px -96px;
      animation: text2-af 0.4s 2.6s 1 ease-in-out forwards;}//text2-af

    .text3{width: 221px; height: 23px; background: url(../images/main/texts.png) -0px -21px; top: 5%; right:-29%; overflow: visible;
      animation: text1 1s 2.8s 1 ease-in-out forwards;}//text3
    .text3:after{@extend %before; width: 112px; height: 43px; top: 42px; left: -36px; background: url(../images/main/arrows.png) -3px -47px;
      animation: text3-af 0.4s 3s 1 ease-in-out forwards;}//text3-af
    .text3:before{@extend %before; width: 48px; height: 53px; top: -55px; right: -30px; background: url(../images/main/effects.png) -0px -37px;
      transform: translate(-20px, 10px) scale(0.8) rotate(-45deg);
      animation: text3-be 0.4s 3.1s 1 ease-in-out forwards;}//text3-be

    .text4{width: 178px; height: 24px; background: url(../images/main/texts.png) -0px -44px; bottom: 47%; left:-38%; overflow: visible;
      animation: text1 1s 3.5s 1 ease-in-out forwards;  }//text4
    .text4:after{@extend %before; width: 118px; height: 38px; top: 17px; left: 151px; background: url(../images/main/arrows.png) -3px -3px;
      transform: translate(-20px, 8px);
      animation: text4-af 0.4s 3.7s 1 ease-in-out forwards;}//text4-af
    .text4:before{@extend %before; width: 39px; height: 37px; top: -22px; left:-40px ; background: url(../images/main/effects.png) -0px -0px;
      transform: translate(20px, 5px) scale(0.8) rotate(-20deg);
      animation: text4-be 0.4s 3.9s 1 ease-in-out forwards;}//text4-be

    .text5{width: 109px; height: 24px; background: url(../images/main/texts.png) -0px -68px; top: 50%; right: -20%; overflow: visible;
      animation: text1 1s 4.1s 1 ease-in-out forwards;}//text5
    .text5:after{@extend %before; width: 112px; height: 43px; top: 16px; left: -83px; background: url(../images/main/arrows.png) -3px -47px;
      transform: rotate(0deg) translate(20px, 18px);
      animation: text5-af 0.4s 4.3s 1 ease-in-out forwards;}//text5-af
    
    
  }//stage1

  .menu{
    @extend %flex-direction-column; width: 100%; height: 1150px; align-items: center; justify-content: space-between; position: relative;
   
    .title{margin-bottom: 100px; width: 416px; height: 74px; background: url(../images/menu/titles.png) 0px -54px; transform: translate3d(0,50%,0); opacity: 0;}
    .box{@extend %flex-direction-row; justify-content: center; align-items: center; width: 1032px; height: 975px; position: relative;
        opacity: 0; transform: translateX(100%); 
      .content{width: 788px; height: 970px;  position: relative;
        .p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10{position: relative; cursor: pointer; width: 788px; height: 975px;
        border: 5px solid white;}//1~10
        .p1,.p6{background: url(../images/menu/p1.png)no-repeat;}
        .p2,.p7{background: url(../images/menu/p2.png)no-repeat;}
        .p3,.p8{background: url(../images/menu/p3.png)no-repeat;}
        .p4,.p9{background: url(../images/menu/p4.png)no-repeat;}
        .p5,.p10{background: url(../images/menu/p5.png)no-repeat;}
        div{background-size: cover;}
      }//content
      .left-arrow,.right-arrow{background: url(../images/menu/arrows.png)no-repeat; width: 80px; height: 80px; cursor: pointer; position: absolute; top: 50%; 
        transform: translateY(-50%); transition: all 0.2s ease-in-out; opacity: 0.5;}//.LR
      
      .left-arrow{background-position: 0 0;left:0; transform-origin: left;}
      .right-arrow{background-position: -80px 0;right:0; transform-origin: right;}
      .left-arrow:hover,.right-arrow:hover{opacity: 1;}
      .left-arrow:active{transform: translateX(-10%) translateY(-50%);}
      .right-arrow:active{transform: translateX(10%) translateY(-50%);}
    }//box
  }//.menu

  .menu .title{transition: all 0.3s ease-in-out;}
  .menu .box{transition: all 0.5s ease-in-out;}
  .menu.stage-act{
    .title{transform: translate3d(0,0,0); opacity: 1;} 
    .box{opacity: 1; transform: translateX(0%); }
  }//menu-act
  
  .about{
    @extend %flex-direction-column; margin-top: 150px; width: 100%; height: 1290px; align-items: center; justify-content: space-between; position: relative; overflow: hidden;
    .title{ width: 416px; height: 74px; background: url(../images/about-us/titles.png) 0px -54px; transform: translateY(-100%);}
    .box{@extend %flex-direction-row; justify-content: space-between; align-items: center; width: 682px; height: 512px;  position: relative; opacity: 0;
      .content{width: 100%; height: 100%;  position: relative;
        .p1,.p2,.p3{position: relative; cursor: pointer;}
        .p1{width: 682px; height: 512px;background: url(../images/about-us/content.png)no-repeat;}
        .p2{width: 682px; height: 512px;background: url(../images/about-us/content.png)no-repeat;}
        .p3{width: 682px; height: 512px;background: url(../images/about-us/content.png)no-repeat;}
      }//content
      .left-arrow,.right-arrow{ width: 40px; height: 60px; cursor: pointer;position: absolute;  background-color: white; opacity: 0.5; transition: all transform 0.3s ease-in-out;
        span{background-color: black; width: 16px; height: 5px; display: flex; position: absolute;}
      }//left,right
      .left-arrow{left: 0;border-radius: 0px 50px 50px 0;
        span{left: 10px;border-radius: 100px 0 0 100px;}
        span:nth-child(1){transform: rotate(-45deg) skew(-45deg);top: 22px;}
        span:nth-child(2){transform: rotate(45deg) skew(45deg);top: 33px;}
      }//left
      .right-arrow{right: 0;border-radius: 50px 0 0 50px;
        span{left: 14px;border-radius: 0px 100px 100px 0px;}
        span:nth-child(1){transform: rotate(45deg) skew(45deg);top: 22px;}
        span:nth-child(2){transform: rotate(-45deg) skew(-45deg);top: 33px;}
      }//right

      .left-arrow:hover,.right-arrow:hover{opacity:1;}
      .left-arrow:active,.right-arrow:active{transform:scale(0.9);}
    }//box
    .about-us{width: 682px; overflow: hidden;}
   
    h1{ font-family: $all-font-family ,$all-font-family2; margin-bottom: 40px; opacity: 0; transform:translateX(-100%);}
    p{font-size: 21px; line-height: 28px;white-space: pre-line; margin-bottom: 30px;}
    p:nth-child(2){opacity: 0; }
    p:nth-child(3){opacity: 0;}
    p:nth-child(4){opacity: 0;}
    p:nth-child(5){opacity: 0; transform: scale(0.8);}
    p:last-child{margin: 0;}
    br{height: 30px;}
  }//.about

  .about .title{transition: all 0.3s ease-in-out;}
  .about .box{transition: all 1s ease-in-out;}
  //text scroll ani
  .about .about-us h1{transition: all 1.2s ease-in-out;}
  .about .about-us p:nth-child(2){transition: all 1.5s ease-in-out;}
  .about .about-us p:nth-child(3){transition: all 1.2s ease-in-out;}
  .about .about-us p:nth-child(4){transition: all 1.2s ease-in-out;}
  .about .about-us p:nth-child(5){transition: all 1.2s ease-in-out;}
  .about.stage-act{
    .title{transform: translate3d(0,0,0); opacity: 1;} 
    .box{opacity: 1; transform: translateX(0%); }
    .about-us.stage-act{
      h1{opacity: 1; transform:translateX(0%);}
      p:nth-child(2).stage-act{opacity: 1;}
      p:nth-child(3).stage-act{opacity: 1;}
      p:nth-child(4).stage-act{opacity: 1;}
      p:nth-child(5).stage-act{opacity: 1; transform: scale(1);}
      
    }//about-us
  }//stage3-act



  .address{@extend %flex-direction-column; margin-top: 150px; height: 784px; justify-content: space-between; align-items: center; 
    .title{ width: 416px; height: 74px; background: url(../images/address/titles.png) 0px -54px; margin-bottom: 100px; opacity: 0;}
    .box{@extend %flex-direction-column; justify-content: space-between; align-items: center; height: 610px;
      .subtitle,.content{@extend %flex-direction-column; justify-content: space-between; text-align: center;}
      .subtitle,.content,.map{opacity: 0;}
      .subtitle{ height: 80px; }
      .content{height: 144px; }
      .map{width: 457px; height: 311px; background: url(../images/address/maps.png) 0 -311px;}
      a{color: black; text-decoration:underline;}
    }//box
    p{font-size: 21px; line-height: 28px;}
  }//address
  .address .title{transition: all 0.3s ease-in-out;}
  .address .box .subtitle{transition: all 0.5s ease-in-out;}
  .address .box .content{transition: all 0.7s ease-in-out;}
  .address .box .map{transition: all 0.7s ease-in-out;}
  .address.stage-act{
    .title{opacity: 1;}
    .box{
        .subtitle.stage-act{opacity: 1;}
        .content.stage-act{opacity: 1;}
        .map.stage-act{opacity: 1;}
    }//box

  }//address-act




  .blog{@extend %flex-direction-column; margin-top: 150px; width: 100%; height: 1527px; justify-content: space-between; align-items: center;
    .title{ width: 416px; height: 74px; background: url(../images/blog/titles.png) 0px -54px; margin-bottom: 115px; 
      opacity: 0; transform: scale(0.9) translateY(100%);}//title
    .box{@extend %flex-direction-row; justify-content: space-between; align-content: space-between; flex-wrap: wrap; width: 660px; height: 1343px; 
     .item{@extend %flex-direction-column ; width: 252px; height: 420px; align-items: center; justify-content: flex-start; position: relative;
          
          }//item
     .item:nth-child(1){
       .img{width: 252px; height: 158px; background: url(../images/blog/items.png) -1000px 0; margin: 35px 0 60px 0;}
      
      }//item1
      .item:nth-child(2) .img,.item:nth-child(3) .img,.item:nth-child(4) .img,.item:nth-child(5) .img,.item:nth-child(6) .img{width: 200px; height: 200px; margin-bottom: 50px;}
      .item:nth-child(2){.img{background: url(../images/blog/items.png) 0px 0;}}//item1
      .item:nth-child(3){.img{background: url(../images/blog/items.png) -200px 0;}}//item1
      .item:nth-child(4){.img{background: url(../images/blog/items.png) -400px 0;}}//item1
      .item:nth-child(5){.img{background: url(../images/blog/items.png) -600px 0;}}//item1
      .item:nth-child(6){.img{background: url(../images/blog/items.png) -800px 0;}}//item1
    }//box
    p{font-size: 21px; line-height: 28px; display: flex; position: absolute; left: 0; top: 250px;}
  }//blog
  
  .blog .title{transition: all 0.3s ease-in-out;}
  .blog .box .item{transition: all 0.5s ease-in-out;}
  .blog.stage-act{
    .title{opacity: 1; transform: scale(1) translateY(0%);}
    .box{
      .item:nth-child(1).stage-act,
      .item:nth-child(2).stage-act,
      .item:nth-child(3).stage-act,
      .item:nth-child(4).stage-act,
      .item:nth-child(5).stage-act,
      .item:nth-child(6).stage-act
      {transform: scale(1);}
    }//box
  }//blog-act

  //  .footer{
  //    position: absolute;
  //    bottom: 0;
  //    left: 0;
  //  }
   /*just BG*/

   .BG{@extend %container-set; z-index: -999; background: url(../images/BG.jpg)no-repeat; background-size: cover; background-position:center center; position: absolute; left: 0; top: -161px;}

   
  

 

   @media screen and (max-width:1280px){
    .menu{
      .box{width: 788px;
        .content{width: 100%;}
          .left-arrow,.right-arrow{ width: 40px; height: 60px; background: none; background-color: #fff; background-color: white; opacity: 0.5; transition: all transform 0.3s ease-in-out;
            transform-origin: center;
            span{background-color: black; width: 16px; height: 5px; display: flex; position: absolute;}
            }//left,right
            .left-arrow{left: 0;border-radius: 0px 50px 50px 0;
              span{left: 10px;border-radius: 100px 0 0 100px;}
              span:nth-child(1){transform: rotate(-45deg) skew(-45deg);top: 22px;}
              span:nth-child(2){transform: rotate(45deg) skew(45deg);top: 33px;}
            }//left
            .right-arrow{right: 0;border-radius: 50px 0 0 50px;
              span{left: 14px;border-radius: 0px 100px 100px 0px;}
              span:nth-child(1){transform: rotate(45deg) skew(45deg);top: 22px;}
              span:nth-child(2){transform: rotate(-45deg) skew(-45deg);top: 33px;}
            }//right  
            .left-arrow:hover,.right-arrow:hover{opacity:1;}
            .left-arrow:active,.right-arrow:active{transform:scale(0.9) translateY(-50%);}   
      }//box
    }//menu
   }//1280
  
  

  @media screen and (max-width:1200px){
    nav .right-link{right: -20px;}
    .main{
      .text1{top: -26%;left: -19%;}
      .text2{top: 18%; left: -17%;}
      .text2:after{top: 37px;left: 12px;}
      .text3{top: -9%; right: -3%; width: 135px; height: 51px; background: url(../images/main/texts.png) -0px -92px;}
      .text3:after{ left: 20px; top: 75px;}
      .text4{bottom: 47%;  left: -16%; width: 87px; height: 53px; background: url(../images/main/texts.png) -0px -143px;}
      .text4:after{top: 50px; left: 28px;}
      .text5{right: -13%;}
    } 
  }//1200

  @media screen and (max-width:980px){
    .main{
      .text2,.text3,.text4,.text5{display: none;}
    }

    //menu-act
    .header{top: 0;
      .box{width: 100%; height: 100px;
        .logo2{opacity: 1; top: -20px; pointer-events: all;cursor: pointer;}
      }//box
      .box:after{height: 70%; width: 0;}
    }//header
    .hamburger{opacity: 1; pointer-events: all; left: 50px; top: 30px;}
    .header ul ,.header ul .logo ,.header .box .title-bg, .header .box .title-bg2{opacity: 0;}

  }//980

  @media screen and (max-width:830px){
    .container{height: 7596px;}
    main{height: 7500px;}
    .main{
      .text1{top: -45%; left: -7%; opacity: 0;}
      .bugger{max-width: 535px; max-height: 457px;     left: 20%; /*width: 80%;*/
        background: url(../images/main/mains.png) 0 -625px; /*background-position: top center;*/
        animation: stage1-bu2 2s 1 cubic-bezier(0.85, 1.09, 1, 1) forwards;
        }//bugger
      .bugger-s{left: 20%; top: 83%; width: 529px; height: 148px;background: url(../images/main/mains.png) 0 0; }
    }//stage1
    .main{margin-bottom: 200px;}
    //BG add
    nav .right-link {display: none;}
    .menu .box{width: 640px; height: 960px;
            .content{
              .p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10{width: 100%; height: 960px; border:5px solid white;
              background: url(../images/menu/640-p1.png);}//1~10
              .p1,.p6{background: url(../images/menu/640-p1.png)no-repeat;}
              .p2,.p7{background: url(../images/menu/640-p2.png)no-repeat;}
              .p3,.p8{background: url(../images/menu/640-p3.png)no-repeat;}
              .p4,.p9{background: url(../images/menu/640-p4.png)no-repeat;}
              .p5,.p10{background: url(../images/menu/640-p5.png)no-repeat;}
             
            }//content
    }//box
    .menu .title{margin-bottom:50 px;}
    .about {
      .box{width: 546px;
        .content{
          .p1,.p2,.p3 {width: 546px; background: url(../images/about-us/content0.png); border:5px solid white;}
        }//content
      }//box
      .about-us{width: 546px;}
      h1{font-size: 35px;}
    }//stage3
    .blog{height: 2600px;}
    .blog .title{margin-bottom: 0;}
    .blog .box{width: 502px; height: 2490px; justify-content: center;
      .item{transform: scale(0.9);}
    }//box



    .BG{height: 7674px;}

  }//830

  @media screen and (max-width:768px) and(min-width:767px){
    
    html{width: 100%;}
    .main .text1{left: 0%;}
    .main .bugger{left: 15%;}
    .main .bugger-s{left: 15%; top: 83%;}
    // .container{width: 594px;}
    // .dark-bg{width: 594px;}
    // .main .bugger{left: 27%;}
    // .main .bugger-s{left: 27%;}

    // .menu .title,.menu .box,
    // .about .title,.about .box,
    // .address .title,.address .box,
    // .blog .title,.blog .box
    // {margin-left: 18%;}
    // .menu .box{margin-left: 18%;}
  }

@media screen and(max-width:414px)and(min-width:300px){
  // html{width: 169%;}
  html{width: 100%;}
  // main{width: 108%;}
  main{width: 100%;}
  h1{font-size: 2rem;}


  .main{margin-top: -190px;}
  .main .text1{left: 1%;}
  // .main .bugger{    width: 100%; height: 41%; left: 0; top: 50%; background-position: left top; animation: stage1-bu-s 2s 1 cubic-bezier(0.85, 1.09, 1, 1) forwards;}
  .main .bugger{ width: 360px; height: 300px; background: url(../images/main/mains.png) -0 -325px; left: 9%; animation: stage1-bu2 2s 1 cubic-bezier(0.85, 1.09, 1, 1) forwards;
  .text1{left: -7.5%; top: -60%; background: url(../images/main/texts.png)  0 -275px;/*0 -196px w298 h156 w208 h79*/ width: 298px; height: 156px;}
  }//bugger
  .main .bugger-s{left: -15%; top: 68%;}
  .menu{   height: 1065px;}
  // .menu .box{width: 100%;}
  .menu .title{ width: 302px; height: 54px;background: url(../images/menu/titles.png) 0px -0px;; margin-bottom: 0;}
  .menu .box{width: 100%; }
  .menu .content{width: 100%;}
  
  

  
  .menu{
    .box{
      .content{
        .p1{background: url(../images/menu/320-p1.png)no-repeat;}
        .p2{background: url(../images/menu/320-p2.png)no-repeat;}
        .p3{background: url(../images/menu/320-p3.png)no-repeat;}
        .p4{background: url(../images/menu/320-p4.png)no-repeat;}
        .p5{background: url(../images/menu/320-p5.png)no-repeat;}
        .p6{background: url(../images/menu/320-p6.png)no-repeat;}
        .p7{background: url(../images/menu/320-p7.png)no-repeat;}
        .p8{background: url(../images/menu/320-p8.png)no-repeat;}
        .p9{background: url(../images/menu/320-p9.png)no-repeat;}
        .p10{background: url(../images/menu/320-p10.png)no-repeat;}
        .p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10{background-size: cover;}
      }
    }
  }
  .about{height: 1620px;}//height: 1540px;
  .about .title{ width: 302px; height: 54px;background: url(../images/about-us/titles.png) 0px 0px;}
  .about .box, .about .about-us{width: 100%;}
  .about .about-us{padding: 2% 5%;}


  .address{    height: 715px;}
  .address .box{width: 100%;}
  .address .box .subtitle{height: 100px;}
  .address .box .subtitle p{padding: 0 10%;}
  .address .box .map{    width: 236px; height: 311px; background: url(../images/address/maps.png) 0 0; }
  .address p{font-size: 1.2rem;}
  .address .title{ width: 302px; height: 54px;background: url(../images/address/titles.png) 0px -0px; margin-bottom: 0;}

  // .blog{height: 1470px;}
  .blog .title{ width: 302px; height: 54px;background: url(../images/blog/titles.png) 0px 0px; margin-bottom: 0;}

  .about,
  .address,
  .blog{ margin-top: 100px;}
  nav{width: inherit; left: 0; transform: translateX(0);
  .right-link{right: -20px;}
  }//nav
  .header{width: inherit; left: 0; transform: translateX(0);}
  .BG{height: 7712px; margin-top:-190px;}//7500
}
/*bootstrapt
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) {
}
@media (min-width: 1200px) {
}
*/
  